# Node.js
node_modules/
.next/
out/

# Python
__pycache__/
*.py[cod]
venv/

# Environment variables
.env
.env.local

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Firebase
firebase-debug.log